<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh-Hans</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>zh-Hans</string>
        <string>zh-Hant</string>
        <string>en</string>
        <string>ja</string>
        <string>ko</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>VoxFlow</string>
    <key>CFBundleIdentifier</key>
    <string>com.voxflow.app</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>VoxFlow</string>
    <key>CFBundleDisplayName</key>
    <string>码上写</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.12.0</string>
    <key>CFBundleVersion</key>
    <string>22</string>
    <key>VoxFlowSentryDSN</key>
    <string></string>
    <key>LSMinimumSystemVersion</key>
    <string>15.0</string>
    <key>LSMultipleInstancesProhibited</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSMicrophoneUsageDescription</key>
    <string>码上写需要使用麦克风来捕获语音输入，以便将你说的话转录为文字。</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>码上写需要使用语音识别功能将你的语音转录为文字，并为麦克风录屏生成字幕。</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 VoxFlow contributors.</string>
</dict>
</plist>
